@import "tailwindcss";

.text-shadow-white {
  text-shadow: 0 1px 4px rgba(255, 255, 255, 0.25);
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
